* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 

.container {
    background-color: gray;
    max-width: 4rem;
    height: 25rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: 70px 7rem;
    font-size: 1.3rem;
    
}

li {
    list-style: none;
    width: 15rem;
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
}

i {
    font-size: 2rem;
}

p {
    visibility: hidden;
}

.container:hover {
    max-width: 15rem;
    cursor: pointer;
    transition: 1s;
    p {
        visibility: visible;
        transition: 1s;
    }

}