* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} 

.container {
    background-color: gray;
    max-width: 4rem;
    height: 25rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: 70px 7rem;
    font-size: 1.3rem;
    transition: all .3s;
}

a {
    list-style: none;
    text-decoration: none;
    width: 15rem;
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    color: #000;
}

i {
    font-size: 2rem;
}

p {
    display: none;
}

.container:hover {
    max-width: 15rem;
    cursor: pointer;
}

.container:hover p{
        display: block;
}